.footer {
  background-color: #f8f8ff;
  border-top: 2px solid #3776CC;
  padding: 15px 0;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #3776CC;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #2a5ea7;
}
